:root{
    --spacer-sm: 0.7rem;
    --spacer-med: 1rem;
    --spacer-lg: 1.2rem;

    --colors-primary: #4DD0E1;
    --colors-primary-variant: #0097a4;
    --colors-secondary: #FF6F00;
    --colors-secondary-variant: #FFC107;
    --colors-grey: #9e9e9e;
    --colors-grey-variant: #212121;

    --fontsize-sm: 16px;
    --fontsize-med: 24px;
}


@media all and (min-width: 500px){
    :root{
        --spacer-sm: 0.7rem;
        --spacer-med: 1.1rem;
        --spacer-lg: 1.4rem;
    }
}

@media all and (min-width: 750px){
    :root{
        --spacer-sm: 0.9rem;
        --spacer-med: 1.3rem;
        --spacer-lg: 1.6rem;
    }
}